@import "./../../theme/";

.container {
  .subText {
    margin-bottom: 4%;
  }
  margin-top: 2%;
  .text {
    text-align: left;
    strong {
      color: $primary;
      font-size: 20px;
    }
    h3 {
      font-weight: bold;
    }
    width: 70%;
    p {
      width: 75%;
      margin-top: 2%;
      color: $gray;
    }
  }
}
.contTex {
  display: flex;
  justify-content: center;
  align-items: center;
}
